<div class="container-fluid">

  <div class="row">
    <div class="col-auto btn-back mt-3" [routerLink]="['/weather']">
    </div>
  </div>



  <div class="row">

    <!-- Title -->

    <div class="col-12 header mb-5">
      <div class="title text-center">
        {{currentWeather?.request[0]?.query}}
      </div>
    </div>

    <!-- -------------- SECTION  Time -------------- -->

    <div class="col-md-6 col-12 header mb-5">

      <!--  Date -->

      <div class="three-rows text-center">
        <div>
          {{currentTime | date:'EEEE'}}
        </div>
        <div class="center">
          {{currentTime | date:'mediumTime'}}
        </div>
        <div>
          {{currentTime | date:'mediumDate'}}
        </div>
      </div>

    </div>

    <!-- -------------- SECTION  current weather -------------- -->

    <div class="col-md-6 col-12  three-rows justify-content-center">

      <div class="text-center">
        Last updated: <span>{{currentWeather?.current_condition[0]?.observation_time}} </span>
      </div>

      <div class="center col-12 text-center">
        {{currentWeather?.current_condition[0]?.temp_C}}&#8451; /
        {{currentWeather?.current_condition[0]?.temp_F}}&#8457;
        <img [attr.src]="currentWeather?.current_condition[0]?.weatherIconUrl[0].value">

      </div>


      <div class="text-center">
        Feels Like: <span>{{currentWeather?.current_condition[0]?.FeelsLikeC}}
          &#8451; /
          {{currentWeather?.current_condition[0]?.FeelsLikeF}}&#8457;</span>
      </div>


    </div>

    <!-- -------------- SECTION  Wind -------------- -->

    <div class="col-12 justify-content-between text-center mt-lg-0 mt-5">

      Wind: {{currentWeather?.current_condition[0].windspeedKmph}}Km/h
      {{currentWeather?.current_condition[0].winddir16Point}}
      {{currentWeather?.current_condition[0].winddirDegree}} degrees
      <span class="inline-block"
        [ngStyle]="{'transform': 'rotate('+  currentWeather?.current_condition[0]?.winddirDegree+'deg)'}">
        &#8592;
      </span>


    </div>
    <div class="col-12 justify-content-between text-center mt-lg-1 mt-2">
      pressure: {{currentWeather?.current_condition[0].pressure}} mb
    </div>

  </div>

  <!-- SECTION Hourly Details -->


  <div class="row my-5 text-center justify-content-between">

    <div class="col-md-3 col-sm-4 col-6 mb-5 p-3" *ngFor="let hour of historicalWeather?.weather[0]?.hourly">
      <div class=" hour-card p-3">
        <div>{{fixTimeFromat(hour.time)}}</div>
        <div class="my-3">
          <img [src]="hour.weatherIconUrl[0].value">
        </div>
        <div>{{hour?.weatherDesc[0]?.value}}</div>
        <div class="">
          {{hour?.FeelsLikeC}}&#8451; /
          {{hour?.FeelsLikeF}}&#8457;
        </div>
      </div>
    </div>
  </div>

  <!-- SECTION  Charts -->

  <div class="container-fluid">

    <div class="row justify-content-between align-items-end">

      <div class="col-lg-4 p-0 col-md-6 col-12">

        <app-bar-chart *ngIf="chartData" [data]="chartData"></app-bar-chart>

      </div>
      <div class="col-md-6 col-12">

        <app-chart-line *ngIf="hourlyTempC" [data]="hourlyTempC"></app-chart-line>

      </div>
    </div>

    <div class="row justify-content-between align-items-end">

      <div class="col-md-4 col-6 col-12">
        <div class="text-center mt-3">
          This Weeks Temp
        </div>

      </div>
      <div class="col-md-6 col-12">
        <div class="text-center mt-3">
          Hourly Tempreture
        </div>
      </div>
    </div>


  </div>

  <!-- SECTION  Table -->
  <div class="container-fluid mt-5">






    <div class="row justify-content-between align-items-end">

      <div class="col-md-6 col-12 mt-5">
        <app-chart-line *ngIf="astronomyChart" [data]="astronomyChart"></app-chart-line>
      </div>
      <div class="col-md-6 col-12">
        <div class="table-responsive mt-5 text-center">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Month</th>
                <th scope="col">Avg Min Temp</th>
                <th scope="col">Abs Max Temp</th>
                <th scope="col">Avg Daily RainFall</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let month of currentWeather?.ClimateAverages[0].month">
                <th scope="row">{{month?.name}}</th>
                <td>{{month?.avgMinTemp | slice:0:4}}&#8451; / {{month?.avgMinTemp_F}}&#8457; </td>

                <td>{{month?.absMaxTemp | slice:0:4}}&#8451; / {{month?.absMaxTemp_F}}&#8457;</td>
                <td>{{month?.avgDailyRainfall}} meters</td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>



    <div class="row justify-content-between align-items-end">

      <div class="col-md-4 col-6 col-12">
        <div class="text-center mt-3">
          This Weeks Temp
        </div>

      </div>
      <div class="col-md-6 col-12">
        <div class="text-center mt-3">
          Hourly Tempreture
        </div>
      </div>
    </div>

  </div>
</div>